.wrapper{
    display: grid;
    height: 90vh;
    width: 70vw;
    margin: auto;
    grid-template-rows: 1fr 45px;
}
.question{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
}
.content_container{
    background: linear-gradient(to bottom right, rgba(25,25,25, 0.75), rgb(35,35,35, 0.6));
    grid-row-start: 2;
    display: grid;
    grid-template-columns: minmax(600px, 1fr) 1fr;
}
.question .img_container{
    width: 80%;
    margin: auto;
    aspect-ratio : 4 / 3;
    background-color: rgba(127,127,127, 0.2);
    border: rgb(127,127,127) 1px solid;
    overflow-y: hidden;
}
.img_container img{
    width: 100%;
    height: 100%;
}
.question .container{
    padding: 12px 16px;
    gap: 10px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.container ol li{
    padding: 5px 0;
    overflow: hidden;
}
.button{
    display: flex;
    margin: auto 0 auto auto;
}
.button button{
    aspect-ratio : 6 / 2;
    height: 50px;
    font-size: 25px;
    border-radius: 5px;
    background-color: rgba(115,35,35, .5);
    border: none;
    color: rgb(120,120,120);
    cursor: not-allowed;
}
.title{
    text-align: center;
    font-size: 30px;
}
.title::after{
    content: "?";
}
.active button{
    cursor: pointer;
    background-color: rgba(35,115,65, .5);
    transition: 800ms ease-out 100ms
}
.active button:hover{
    color: white;
    background-color: rgba(75,215,75, 0.8);
}

.paginator{
    display: flex;
}
.submit_button{
    cursor: pointer;
    aspect-ratio : 6 / 2;
    height: 50px;
    text-align: center;
    margin: 20px 0px 0px auto;
    border-radius: 5px;
    padding: 12px;
    color: #ccc;
    background-color: rgba(0,0,0,.2);
    font-size: 25px;
}
.submit_button:hover{
    color: #fff;
    background-color: rgba(0,0,0,.4);

}
@media (max-width:1200px) {
    .content_container{
        grid-template-rows: auto 1fr;
        grid-template-columns: none;
    }
    .question{
        display: block;
        grid-template-rows: 10px 1fr;
    }
    .content_container{
        padding-top: 2vh;
    }
}
@media only screen and (max-width:620px) {
    .img_container{
        width: 100%;
    }
    .wrapper{
        height: 100vh;
        width: 100vw;
    }
    .button{
        margin: auto;
    }
}